<div class="auth-container">
    <img src="/main.png" alt="auth-img">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <h1 class="form-title">Recuperar Senha</h1>
        <p class="form-subtitle">Gerencie Seus Itens em Estoque</p>
    
        <label for="email">Email</label>
        <input type="text" placeholder="email@gmail.com" formControlName="email">
    
        <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
            <p class="error-message">Email Inválido!</p>
        </div>
    
        <div *ngIf="matchEmail">
            <label for="hashPassword" *ngIf="matchEmail">Nova Senha</label>
            <input type="password" *ngIf="matchEmail" placeholder="••••••••••••••" formControlName="hashPassword">
            <label for="confirmPassword" *ngIf="matchEmail">Confirme sua Nova Senha </label>
            <input type="password" *ngIf="matchEmail" placeholder="••••••••••••••" formControlName="confirmPassword">
        </div>
        
        <button class="submit-btn" type="submit">Recuperar Senha</button>
    </form>
</div>