@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.auth-container {
    @include container-base();

    img {
        width: 52%;
        height: 97vh;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    form {
        width: 25%;
      
        .form-title {
          font-size: 3rem;
        }
      
        .form-subtitle {
          font-weight: bold;
          margin-bottom: 2rem;
        }
      
        label {
          font-weight: bold;
        }
      
        input {
          @include input-base();
        }
      
        .error-message {
          font-weight: bold;
          color: #ff0000;
          display: block;
          margin-bottom: .5rem;
        }
      
        .submit-btn {
         @include button-base();
        }
      }


}