<form action="">
    <h1 class="form-title">Registrar-se</h1>
    <p class="form-subtitle">Gerencie Seus Pedidos Automobilísticos</p>
    <div class="google-login">
        <img src="/google-icon.png" alt="google-icon">
        <p>Continue com o Google</p>
    </div>

    <div class="email-signin">
        <hr>
        <p>ou Continue com seu Email</p>
        <hr>
    </div>
            <label for="">Email</label>
            <input type="text" placeholder="email@gmail.com">

            <label for="">Senha</label>
            <input type="text" placeholder="••••••••••••••">

            <label for="">Confirme sua Senha</label>
            <input type="text" placeholder="••••••••••••••">

    <div class="checkbox-group">
        <div class="checkbox-wrapper">
            <input type="checkbox" name="" id="">
            <p>Lembre de Mim</p>
        </div>
        <p class="forgot-password">Esqueceu a Senha?</p>
    </div>

    <button class="submit-btn" type="submit">Registrar</button>
</form>
